<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${cheeses} and ${cheeses.size()}">no cheese :(</p>

<table class="table">

    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Menus</th>
    </tr>

    <tr th:each="cheese : ${cheeses}">
        <td><a th:href="'/cheese/edit/'+${cheese.id}" th:text="${cheese.name}"></a></td>
        <td th:text="${cheese.description}"></td>
        <td th:text="${cheese.category.name}"></td>
        <td><a style="display: block;" th:each="menu : ${cheese.menus}" th:href="'/menu/view/'+${menu.id}" th:text="${menu.name}"></a></td>
    </tr>

</table>

<div th:unless="${categoryId}">
    <a href="/cheese/add">Add Cheese</a> |
    <a href="/cheese/remove">Remove Cheese</a>
</div>
<div th:if="${categoryId}">
    <a th:href="'/category/edit/'+${categoryId}">Edit Category</a>
</div>
<br/>
<br/>
<br/>
</body>
</html>